div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Ethan's blog!
    p.lead 这是一个express+angularjs的练手项目
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      section.post(ng-repeat='post in posts')
        header.entry-header
          img.entry-avatar(alt='{{post.author.name}}', gravatar-src-once="post.author.email", height='52', width='52')
          h2.entry-title
            a(href='/posts/{{ post._id }}') {{ post.title }}
          p.entry-meta Posted on&nbsp
            a.entry-date {{ post.created_at | date: 'yyyy-MM-dd HH:mm' }}
            | | by&nbsp
            a.entry-author {{ post.author.name }}
            | | Tags&nbsp
            a.label.label-danger.label-fix(ng-repeat='tag in post.tags') {{ tag }}

        .entry-description
          p {{ post.summary }}

footer.footer
  .container
    p
      | Ethan Wang
      = ' | '
      a(href='#') @wedocare
      = ' | '
      a(href='#') Issues
