div(ng-include='"components/navbar/navbar.html"')
.container
    p {{ foo }}
    p hehehe
    p {{ postID }}
    p "title: {{post.title}}"
    p "description: {{ post.description }}"
    p "author: {{ post.author.name }}"
    p "created_at: {{ post.created_at }}"
    p "tags: {{post.tags}}"