div(ng-include='"app/admin/admin.html"')
br
.container
  p
    | edit or delete posts in this page
  p
    a.btn.btn-primary(href="/admin/posts/new") New Post
  ul.list-group
    li.list-group-item(ng-repeat='post in posts')
      strong {{ post.title }}
      br
      span.text-muted {{ post.description }}
      a.trash(ng-click='delete(post)')
        span.glyphicon.glyphicon-trash.pull-right

      a.edit(href='/admin/posts/{{ post._id }}/edit')
        span.glyphicon.glyphicon-wrench.pull-right

      br
      a.label.label-warning.label-fix(ng-repeat='tag in post.tags') {{ tag }}
