div(ng-include='"app/admin/admin.html"')
br
.container
  p
    | edit or delete posts in this page
  p
    a.btn.btn-primary New Post
  ul.list-group
    li.list-group-item(ng-repeat='post in posts')
      strong {{ post.title }}
      br
      span.text-muted {{ post.description }}
      a.trash
        span.glyphicon.glyphicon-trash.pull-right
      br
      a.label.label-warning.label-fix(ng-repeat='tag in post.tags') {{ tag }}
